body {
  padding-top: 5rem;
}
.base {
  padding: 3rem 1.5rem;
  text-align: left;
}

.brand-img {
	vertical-align: middle;
	padding-bottom: .3125rem;
}	

.form-control {
	border-radius: .25rem;
	
}

.input-group-text-ba {
	width: 7rem;
}
